## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import numpy as np

# import sys
# sys.path.append("..")

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df= pd.read_csv("C:/Users/valentina/Class2/World_Weather_Analysis/weather_data/WeatherPy_Database.csv")
vacation_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nantucket,US,2021-09-25 02:42:23,41.2835,-70.0995,71.96,94,20,12.66
1,1,Alofi,NU,2021-09-25 02:39:25,-19.0595,-169.9187,75.09,83,27,10.36
2,2,Mar Del Plata,AR,2021-09-25 02:34:50,-38.0023,-57.5575,55.13,59,0,1.99
3,3,Yumen,CN,2021-09-25 02:46:32,40.2833,97.2000,57.97,40,9,15.93
4,4,Portland,US,2021-09-25 02:36:17,45.5234,-122.6762,81.18,42,1,1.01

In [4]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "keywod": "hotel",
    "types": "hotel",
    "key": g_key,
    "location": "48.8566, 2.3522"
}

In [5]:
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # try:
    # make request and print url
    requested = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(name_address.url)

    # convert to json
    converted = requested.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = converted["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
hotel_df.head(10)

Missing field/result... skipping.
Missing field/result... skipping.

            City Country  Max Temp      Lat       Lng     Hotel Name
0      Nantucket      US     71.96  41.2835  -70.0995      Nantucket
1          Alofi      NU     75.09 -19.0595 -169.9187          Alofi
2  Mar Del Plata      AR     55.13 -38.0023  -57.5575  Mar del Plata
3          Yumen      CN     57.97  40.2833   97.2000        Jiuquan
4       Portland      US     81.18  45.5234 -122.6762       Portland
5         Ankang      CN     81.82  32.6800  109.0172         Ankang
6    Keti Bandar      PK     84.38  24.1447   67.4497    Keti Bandar
7        Mataura      NZ     47.48 -46.1927  168.8643           Gore
8   Puerto Ayora      EC     69.55  -0.7393  -90.3518   Puerto Ayora
9          Tiksi      RU     33.89  71.6872  128.8694          Tiksi

In [7]:
vacation_df=pd.read_csv(os.path.join("..","Vacation_Search","WeatherPy_vacation.csv"))
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,4,Portland,US,81.18,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
1,5,Ankang,CN,81.82,32.6800,109.0172,安琪酒店
2,6,Keti Bandar,PK,84.38,24.1447,67.4497,Haji laloo memon house
3,11,Kourou,GF,83.10,5.1552,-52.6478,Lodge TAKINI4 Guesthouse KOUROU FGU
4,18,Kahului,US,84.22,20.8947,-156.4700,Maui Seaside Hotel

In [10]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

NameError: name 'clean_hotel_df' is not defined

In [ ]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

In [ ]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[]
vacation_end = vacation_df.loc[]
vacation_stop1 = vacation_df.loc[]
vacation_stop2 = vacation_df.loc[] 
vacation_stop3 = vacation_df.loc[]

In [ ]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = 
end = 
stop1 = 
stop2 = 
stop3 =

In [ ]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

In [ ]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

In [ ]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure